

.posAbsForSpaceOccupy {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.compareProductsWrapper {
  margin: auto auto;
  background-color: #F6F7F8;
  min-height: 700px;
  width: 100%;
  .cp-header {
    width: 860px;
  }
  .ProductsWrapper {
    margin-bottom: 50px;
    .eachProductWrap {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      overflow: hidden;
      .productImg {
        min-height: 250px;
        transform: scale(1.1);
      }
      .posAbsForSpaceOccupy.fixBG {
        background-color: rgba(136, 222, 198, 0.8);
      }
      .posAbsForSpaceOccupy.ForGreenBG:hover {
        background-color: rgba(136, 222, 198, 0.8);
        .compareBtnDisplay {
          display: block;
        }
      }
      .compareBtn {
        width: 120px;
        height: 30px;
        background-color: #fff;
        color: #6ED7BC;
        cursor: pointer;
        font-size: 10px;
      }
      .compareBtnDisplay {
        display: none;
      }
      .productDetail {
        padding: 12px;
        background-color: #fff;
        .desc {
          color: #C6C6C7;
        }
        .price {
          color: #88DEC6;
        }
      }
    }
  }
  .comparisonWrapper {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    max-width: 860px;
    width: 860px;
    overflow-x: auto;
    background-color: #fff;
    margin-bottom: 30px;
    .compareList {
      max-width: 671px;
      flex-basis: 671px;
    }
    .compareOptBox.empty {
      background-color: #fff;
      border-right: none;
    }
    .compareOptBox {
      height: 50px;
      padding: 0 20px;
      border-bottom: 1px solid #dbdbdb;
      border-right: 1px solid #dbdbdb;
      background-color: #F9F9F9;
      font-size: 13px;
      text-transform: capitalize;
      &:last-child {
        border-bottom: none;
      }
    }
    .SelectedProducts {
      .SelectedProductDetails {
        .selectedProductAttrDetails {
          border-right: 1px solid #dbdbdb;
        }
        .itemBox.greenClr {
          background-color: #5CD0AD;
          color: #fff;
        }
        .itemBox.redClr {
          background-color: #EF6E59;
          color: #fff;
        }
        .itemBox.itemName {
          border-right: none;
        }
        .itemBox {
          height: 50px;
          border-bottom: 1px solid #dbdbdb;
          font-size: 13px;
          width: 189px;
          &:last-child {
            border-bottom: none;
          }
          .colorBall {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            border: 1px solid #212121;
            margin-right: 3px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}