@import './variables.scss';

.pernia-color {
	color: #ed3897 !important;
}
.lite-pernia-color {
	color: #f9d9e4;
}
.liter-pernia-color {
	color: #ffe7ef;
}
.pernia-black-color {
	color: #212121;
}
.pernia-dark-grey-color {
	color: #757575;
}
.pernia-white-color {
	color: white !important;
}

.placeholder-color {
	color: #fafafa;
}
.placeholder-grey-color {
	color: #dbdbdb;
}

.disabled {
  color: #bbbbbb;
}

.pernia-bg-color {
	background-color: #ed3897 !important;
}
.lite-pernia-bg-color {
	background-color: #f9d9e4;
}
.liter-pernia-bg-color {
	background-color: #ffe7ef;
}
.pernia-black-bg-color {
	background-color: #212121;
}
.pernia-dark-grey-bg-color {
	background-color: #757575;
}

.placeholder-bg-color {
	background-color: #fafafa;
}

.disabled-bg-color {
  background-color: #bbbbbb;
}