
@import "./common.scss";
@import "./flex.scss";
@import "./variables.scss";
@import "./margin-padding.scss";
@import "./controls.scss";
@import "./heading.scss";
@import "./color.scss";

a { text-decoration: none; }
p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
.ex-bold {
  font-family: Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 700;
}
.bold {
  font-family: Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 600;
}
.font-normal {
  font-family: Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 500;
}

button {
  outline: none;
  cursor: pointer;
  background: white;
}