$pernia-color: #ed3897;
$lite-pernia-color: #f9d9e4;
$liter-pernia-color: #ffe7ef;
$pernia-black-color: #212121;
$pernia-dark-grey-color: #757575;
$pernia-red-color: #EF3E00;

$stylist-primary-color: #1a1a1a;
$stylist-secondary-color: #60b246;
$stylist-grey-color: #bdbdbd;
$stylist-orange-color : #fa6400;
$stylist-black-color: #1a1a1a;
$stylist-border-color:#d4d4d4;
$stylist-dark-grey-color: #7a7a7a;
$stylist-light-grey-color: #d8d8d8;
$stylist-lighter-grey-color: #fafafa;
$stylist-golden-color: #60b246;
$stylist-light-golden-color: #ffc43e;
$stylist-black-color:#000000;
$stylist-white-color:#ffffff;
$stylist-c2:#c2c2c2;
$stylist-input:#d8d8d8;
$stylist-border-bottom:#f4f4f4;

$placeholder-color: #fafafa;
$placeholder-bg-color: #dbdbdb;

$break-point-lg: 1919px;
$break-point-lg-width: 1440px;
$break-point-md: 1439px;
$break-point-md-width: 1080px;
$break-point-sm: 1279px;
$break-point-sm-width: 960px;
$break-point-xs: 959px;
$break-point-xs-width: 840px;